<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Open AAC Demo</title>
        <!--<%- include ("../../partials/header.ejs") %>-->
        <link rel="stylesheet" href="/stylesheets/aac/demo.css">
        <script src="/scripts/aac/textToSpeech.js"></script>
        <script src="/scripts/aac/demo.js"></script>
    </head>
    <body>
        * navigation bar *
        <br>
        <div class="container-fluid">
            <div id="grid-main" class="row">
                <div class="col"><div id="msg">i am a child</div></div>
                <div class="col"><div id="msg">another child</div></div>
                <div class="col"><div id="msg">one more child</div></div>
                <div class="col"><div id="msg">ok maybe lots more children sorry</div></div>
                <div class="col"><div id="msg">child</div></div>
                <div class="col"><div id="msg">child</div></div>
                <div class="col"><div id="msg">child</div></div>
            </div>
        </div>
    </body>
</html>