<html lang="en">
	<head>
		<title>Lucas Nioi's Wonderful Website</title>
		<%- include ("../partials/header.ejs") %>
	</head>

	<%- include ("../partials/nav.ejs") %>
	<h4 class="text-center">Helpful Functions for Google Sheets</h4>
	<p>Here are some helpful resources regarding the addon:</p>
	<ul>
		<li><a href="/helpful-functions">The full list of functions included in the addon</a></li>
		<li><a href="/helpful-licence">The licence for the addon</a></li>
		<li><a href="/private-policy-helpful">The privacy policy for the addon</a></li>
		<li><a href="https://github.com/24nioil/helpful-sheets-math">The GitHub repository for the addon</a></li>
	</ul>
	<p>Hope you find it useful!</p>
</html>