<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Lucas Nioi's Wonderful Website</title>
		<%- include ("../partials/header.ejs") %>
	</head>
	<%- include ("../partials/nav.ejs") %>
	<h4 class="text-center">Here is a full list of functions included in the addon:</h4>
	<ul>
		<li>PERCENTDIFFERENCE(cell1, cell2)</li>
		<li>PERCENTERROR(actual, experimental)</li>
	</ul>
	<p>More functions to be added soon!</p>
</html>