<!DOCTYPE html>
<html>
<head>
	<title>Lucas Nioi's Wonderful Website</title>
  	<%- include ("../partials/header.ejs") %>
</head>

<body>
  	<%- include ("../partials/nav.ejs") %>
	
	<br>

	<div class="content-main">
		<meta name="google-site-verification" content="7OX0I41kCyQ_5xmndexBQ-5GdquAYbkBM8U5Qbg9l1Q" />
		<figure class="text-center">
			<h1>Welcome to Lucas' Website!</h1>
		</figure>
		<p>
			Note: This site is currently under construction, so if something doesn't work it is likely in the process of being fixed. If you want, you can always send a support request <a href="/support">here</a>.
		</p>
	</div>
</body>
</html>
