<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lucas Nioi's Wonderful Website</title>
    <%- include ("../partials/header.ejs") %>
</head>
<%- include ("../partials/nav.ejs") %>
<p>
We do not collect any of your data with this addon. This addon is simply a collection of math things that don't harvest any data from you!
</p>
</html>